* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  color: rgb(51, 51, 51);
}

button {
  font-family: 'Mulish', sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(214, 214, 214);
}

.color {
  min-height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* Adding adjustment class */
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateX(0px);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* Slider Stuff */
input[type='range'] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.copy-popup,
.save-popup,
.library-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1.5rem;
  transition: transform 1s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}

.thumb {
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 4rem;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  animation: shake 1.5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-2px) translateY(-2px) rotate(0deg);
  }
  10% {
    transform: translateX(-3px) translateY(-3px) rotate(-5deg);
  }
  20% {
    transform: translateX(-2px) translateY(-2px) rotate(5deg);
  }
  30% {
    transform: translateX(2px) translateY(-1px) rotate(-5deg);
  }
  40% {
    transform: translateX(2px) translateY(-2px) rotate(5deg);
  }
  50% {
    transform: translateX(-1px) translateY(1px) rotate(-3deg);
  }
  60% {
    transform: translateX(-1px) translateY(2px) rotate(3deg);
  }
  70% {
    transform: translateX(1px) translateY(-1px) rotate(-3deg);
  }
  80% {
    transform: translateX(-1px) translateY(-1px) rotate(2deg);
  }
  90% {
    transform: translateX(1px) translateY(-2px) rotate(-2deg);
  }
  100% {
    transform: translateX(-2px) translateY(-2px) rotate(0deg);
  }
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}

/* .save-name {
  font-size: 1.5rem;
  padding: 1rem;
} */

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px rgb(197, 31, 238) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: black;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(60, 60, 92);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 6px;
  color: rgb(197, 31, 238);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(60, 60, 92);
  transform: translateY(-30px);
}

.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background: rgb(60, 60, 92);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  padding: 1rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.close-library {
  border-top-right-radius: 0rem;
}

.library-popup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.library-popup::-webkit-scrollbar {
  width: 10px;
  visibility: none;
  background-color: transparent;
}

.library-popup::-webkit-scrollbar-thumb {
  background-color: rgb(73, 73, 73);
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 25%,
    transparent 100%,
    rgb(255, 255, 255) 75%,
    transparent
  );
}

.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}

.small-preview {
  display: flex;
  flex: 1;
}

.custom-palette h4 {
  flex: 1;
}

.small-preview div {
  height: 5rem;
  flex: 1;
}

.pick-palette-btn {
  height: 5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: rgb(68, 68, 68);
  color: white;
}
